/*! purgecss start ignore */
@tailwind base;
@tailwind components;
/*! purgecss end ignore */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */

.transition-text-color {
    transition: color 0.8s;
    /* For modern browsers */
}

@responsive {
    .order-0 {
        order: 0;
    }

    .order-1 {
        order: 1;
    }

    .order-2 {
        order: 2;
    }

    .order-3 {
        order: 3;
    }

    .order-4 {
        order: 4;
    }

    .order-5 {
        order: 5;
    }

    /*.background-image-header-section {
        background-image: url('../images/header-section-bg.png');
        background-repeat: no-repeat;
        background-position: 90% bottom;
        background-size: 50%;
    }*/

    .push-header {
        right: -23%;
    }

    .header-image {
        width: 37.5rem;
    }
}

.markdown {
    @apply text-lg text-grey-darkest leading-normal;

    & > * + *,
    & li + li,
    & li > p + p {
        @apply mt-6;
    }
    & strong {
        @apply text-black font-bold;
    }
    & a {
        @apply text-pink-darkest transition-text-color;

        &:hover {
            @apply text-pink-dark;
        }
    }

    & > p {
        @apply mb-1;
    }

    & strong a {
        @apply font-bold;
    }
    & h2 {
        @apply leading-tight text-xl font-bold text-black mb-2 mt-10;
    }
    & h3 {
        @apply leading-tight text-lg font-bold text-black mt-8 -mb-2;
    }
    & code {
        @apply font-mono text-sm inline bg-grey-lighter px-1;
    }
    & pre code {
        @apply block bg-black p-4 rounded;
    }
    & blockquote {
        @apply border-l-4 border-grey-light pl-4 italic;
    }
    & ul,
    & ol {
        @apply pl-5;
        @screen sm {
            @apply pl-10;
        }
    }
}

.debug * {
    outline: 1px solid red;
}
